/* Reset alles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body en achtergrond */
html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* voorkomt horizontale witruimte */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url("../images/Welcome.png");
    background-size: cover;
    background-position: top left; /* plakt linksboven */
    background-repeat: no-repeat;
}

/* Achtergrond tekst */
.achtergrond-afbeelding h1 {
    color: #000;
    font-size: 2rem;
    text-align: center;
    margin-top: 14rem;
}

/* knopjes keuze-buttons */
.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: 30vh;
    margin-top: 10px;
}

/* button styling */
.button-container a {
    display: inline-block;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    padding: 15px 0;
    width: 400px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

/* Hover-effect */
.button-container a:hover {
    background-color: #333;
    transform: scale(1.05);
}
