/* Reset alles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body en achtergrond */
html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* voorkomt horizontale witruimte */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Navbar */
nav {
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0; /* verwijder padding die de navbar inhoud naar rechts duwt */
}

/* Logo + hamburger container */
.nav-left {
    display: flex;
    align-items: center;
    gap: 5rem; /* kleiner gap zodat het niet teveel naar rechts duwt */
    margin-left: 0;
}

/* Hamburger menu */
.ham-menu {
    height: 25px;
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    z-index: 1001;
    margin-left: 1rem;
}

.ham-menu span {
    height: 3px;
    width: 100%;
    background-color: #000;
    border-radius: 25px;
    transition: 0.3s ease;
}

.ham-menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Logo */
.logo-container .logo {
    height: 50px;
    width: auto;
    display: block;
}

/* Off-screen menu */
.off-screen-menu {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 500px;
    position: fixed;
    top: 0;
    left: -500px; /* start buiten scherm */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    transition: 0.3s ease;
    z-index: 900;
}

.off-screen-menu.menu {
    left: 0;
}

.off-screen-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.off-screen-menu li {
    margin: 1rem 0;
    cursor: pointer;
}



/* Deze pagina styling begint hier */
.Start-algemeen{
    margin-top: 100px;
    text-align: left;
    padding: 20px;
}


/* text Start uw kunstenaarprofiel en subtext*/
.Start-intro h1 {
    font-weight: 600;
    margin-bottom: 10px;
}

/*subtext*/
.Start-intro h4 {
    font-weight: 480;
    margin-bottom: 30px;
}


/* Voeg foto en introductietekst toe en subtext */
.Foto-intro h2 {
    font-weight: 600;
    margin-bottom: 10px;
}

/*subtext*/
.Foto-intro h4 {
    font-weight: 480;
    margin-bottom: 30px;
}


/* Algemeen upload vak */
.fotoup-vak {
    background-color: white;
    border: 1px solid rgb(229, 229, 229);
    max-width: 450px;
    height: 150px;
    border-radius: 5px;
}

/*pictogram in upload vak */
.upload-foto img{
    width: 50%;
    height: 50%;
    border-radius: 5px;
    padding-left: 10px;
}

/*grijze bg vormpje profiel foto */
.upload-foto {
    background-color: rgb(232, 232, 232);
    width: 105px;
    border-radius: 6px;
}

/* uploaden tekst in upload vak */
.Upload-tekst h3 {
    color: rgb(0, 0, 0);
    padding-left: 10px;
}

/* grijze bg vormpje achter het woord Uploaden als button */
.Upload-tekst {
    background-color: rgb(232, 232, 232);
    width: 105px;
    border-radius: 6px;
}
